@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    max-width: 1280px;
    background: #F2F5F9;
    color: #cbd5e1;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-position: 0 0,25px 25px;
    background-attachment: fixed;
    background-size: 50px 50px;
    overflow-x: hidden;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;

}

.get-started {
    padding: 1rem 2rem;
    border: 0.5px solid #1e293b;
    background-color: #94a3b817;
    border-radius: 2rem;
    font-size: 0.875rem;
    font-weight: 200;
    width: 100%;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    padding: 124px 50%;
    column-gap: 1.5rem;
}

.link-card {
    border: 0.5px solid transparent;
    transition: all ease-in-out 50ms;
    cursor: pointer;
    width: min-content;
    border-radius: 16px;
    position: relative;
    height: min-content;
    display: inline-block;
}

.link-image {
    width: auto;
    height: 280px;
    border-radius: 16px 16px 0 0;
    margin-bottom: -40px;
}

.link-svg {
    margin-top: -34px;
}

.link-details {
    margin-top: -10px;
    background-color: #FFFFFF;
    padding: 0 32px;
    padding-bottom: 24px;
}

.link-title {
    font-size: 24px;
    color: #111729;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.link-description {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 200;
    color: #677489;
}

.link-avatar {
    margin-top: 1px;
    background-color: #FFFFFF;
    padding: 24px 32px;
    border-radius: 0 0 16px 16px;
    width: auto;
    display: flex;
    align-items: flex-start;
}

.link-imgAvatar {
    width: 50px;
    height: auto;
    margin-right: 12px;
    background-color: #F2F5F9;
    /* border-radius: 50%; */
}

.avatar {
    margin: auto 0;
}

.AvatarImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F2F5F9;
    border: none;
    margin-right: 12px;
    position: relative;
    text-align: center;
}

.imgAvatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link-autor {
    width: fit-content;
    font-size: 16px;
    font-weight: bold;
    color: #111729;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: #677489;
}
